html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@grey: #232323;
@red: #f50009;
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
@small: ~"(max-width: 1199px)";
@tablet: ~"(max-width: 991px)";
@mobile: ~"(max-width: 767px)";
body {
	font: 16px/30px 'PT Sans', sans-serif;
	color: @grey;
}
a {
	color: @grey;
	text-decoration: none;
	
	&:focus {
		outline: 0;
		color: @grey;
		text-decoration: none;
	}
	&:active {
		color: @grey;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
		color: @red;
	}
}
h1, 
h2 {
	font: 500 50px/60px 'Roboto', sans-serif;
	color: @grey;
	margin: 0;
}
h2 {
	font-size: 30px;
}
p {
	line-height: 30px;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
.form-control::-moz-placeholder {
  color: @grey;
  font: 700 16px/30px 'Roboto', sans-serif;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: @grey;
  font: 700 16px/30px 'Roboto', sans-serif;
}
.form-control::-webkit-input-placeholder {
  color: @grey;
  font: 700 16px/30px 'Roboto', sans-serif;
}
.input {
	height: 50px;
	border-radius: 0;
	border: none;
	box-shadow: none !important;
	padding: 10px 20px;
	color: @grey;
  font: 500 16px/30px 'Roboto', sans-serif;
	&:focus {
		border: 2px solid @grey;
		border-right: none;
		padding: 8px 18px;
	}
}
.btn {
	height: 50px;
	background: @grey;
	font: 700 16px/35px 'Roboto', sans-serif;
	color: #fff;
	border-radius: 0;
	margin: 0 !important;
	padding: 6px 20px;
	&:hover {
		color: #fff;
		background: @red;
	}
	&:focus {
		color: #fff;
	}
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../../f/i/icons.png");
  background-repeat: no-repeat;
}
[class^='iconize-'], [class*=' iconize-'] {
  position: relative;
  display: inline-block;
}
[class^='iconize-']:before, [class*=' iconize-']:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: url('../../f/i/icons.png') -9999px -9999px no-repeat;
}
.iconize-cart:before {
	width: 35px;
	height: 32px;
	background-position: 0 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 5px;
	margin: auto;
}
.iconize-ham:before {
	width: 23px;
	height: 15px;
	background-position: -35px 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.iconize-more:before {
	width: 22px;
	height: 4px;
	background-position: -35px -15px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.icon-search {
	width: 26px;
	height: 26px;
	background-position: -58px 0;
	margin: -2px 15px 0 -3px;
}
a:hover .icon-search,
button:hover .icon-search {
	background-position: -84px 0;
}
.icon-mail {
	width: 23px;
	height: 18px;
	background-position: -110px 0;
	margin: 0 15px 0 0;
}
a:hover .icon-mail {
	background-position: -133px 0;
}
.iconize-close:before {
	width: 10px;
	height: 11px;
	background-position: -35px -20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.iconize-close:hover:before {
	background-position: -44px -20px;
}
.wrap {  
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -330px 0;
	padding: 0;  
	min-width: 480px;
	&:after {  
		content: '';
		height: 330px;
	  margin: 0;
	  padding: 0; 
	} 
}
.holder {
	max-width: 1600px;
	margin: 0 auto;
	padding: 25px;
	position: relative;
}
.header {
	&__main {
		background: @grey;
	}
}
.main-logo {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	& a {
		display: block;
	}
	&__img {
		width: 100%;
	}
}
.main-menu {
	display: inline-block;
	vertical-align: top;
	float: right;
	background: @grey;
	margin: -25px 20px -25px 0;
	@media @tablet {
		display: none;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		border-left: 1px solid #2a2d2d;
		position: relative;
		& a {
			font-size: 14px;
			color: #fff;
			display: block;
			padding: 25px 27px;
			&:hover {
				background: #141414;
				color: @red;
			}
		}
		&_hide {
			@media @small {
				display: none;
			}
		}
		&_more {
			display: none;
			@media @small {
				display: inline-block;
			}
			& a {
				width: 80px;
				height: 82px;
			}
		}
		&:hover ul {
			display: block;
		}
	}
	& ul {
		display: none;
		position: absolute;
		top: 80px;
		background: @grey;
		list-style: none;
		left: 0;
    z-index: 9999;
    border: 1px solid #2a2d2d;
    & li {
    	border-bottom: 1px solid #2a2d2d;
    	& a {
    		width: 130px;
	    	padding: 10px 27px;
	    	height: auto;
    	}
    }
	}
	&_ham {
		clear: both;
		float: left;
		display: none;
		position: absolute;
		margin: 25px 0 0 -25px;
		max-height: 0;
		border: 1px solid #2a2d2d;
		border-bottom: none;
		overflow: hidden;
		width: 100%;
		z-index: 9999;
		.transition(max-height, .5s, cubic-bezier(0, 1.05, 0, 1));
		@media @tablet {
			display: block;
		}
		& li {
			display: block;
			margin: 0;
			border-left: none;
			border-bottom: 1px solid #2a2d2d;
			
			& a {
				padding: 10px 15px;
			}
		}
		&.active {
			max-height: 1000px;
			.transition(max-height, 1s, ease);
		}
	}
}
.contact-phone {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	float: right;
	@media @mobile {
		display: none;
	}
	& p {
		color: #fff;
		font-size: 14px;
		line-height: 13px;
		& span {
			color: #5e6464;
		}
		&:first-child {
			margin-bottom: 6px;
		}
	}
	&_menu {
		float: none;
		display: none;
		padding: 20px 15px;
		@media @mobile {
			display: block;
		}
	}
}
.cart-btn {
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #2a2d2d;
	float: right;
	width: 80px;
	height: 82px;
	margin: -25px -25px -25px 0;
	&:hover {
		background: #141414;
	}
	& span {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 5px;
		line-height: 20px;
		background: @red;
		color: #fff;
		text-align: center;
		font-size: 14px;
	}
}
.ham-btn {
	width: 80px;
	height: 82px;
	border-left: 1px solid #2a2d2d;
	float: right;
	display: none;
	margin: -25px 0 -25px 0;
	&:hover {
		background: #141414;
	}
	@media @tablet {
		display: block;
	}
}
.catalog-menu {
	background: #f5f6f6;
	min-height: 135px;
	& ul {
		text-align: justify;
		line-height: 0;
		&:after {
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 0px;
		}
		@media @small {
			text-align: left;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		line-height: 20px;
		position: relative;
		padding-top: 45px;
		@media @small {
			width: 24%;
			margin-bottom: 20px;
		}
		& a:before {
			content: '';
			margin: 0 auto;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			position: absolute;
			background: #000;
			background: url('../../f/i/catalog-icons.png') -9999px -9999px no-repeat;
		}
		&_1 {
			& a {
				&:before {
					width: 46px;
					height: 32px;
					background-position: 0 0;
				}
				&:hover:before {
					background-position: 0 -48px;
				}
			}
		}
		&_2 {
			& a {
				&:before {
					width: 52px;
					height: 34px;
					background-position: -46px 0;
				}
				&:hover:before {
					background-position: -46px -48px;
				}
			}
		}
		&_3 {
			& a {
				&:before {
					width: 34px;
					height: 48px;
					top: -10px;
					background-position: -98px 0;
				}
				&:hover:before {
					background-position: -98px -48px;
				}
			}
		}
		&_4 {
			& a {
				&:before {
					width: 49px;
					height: 24px;
					top:  10px;
					background-position: -132px 0;
				}
				&:hover:before {
					background-position: -132px -48px;
				}
			}
		}
		&_5 {
			& a {
				&:before {
					width: 50px;
					height: 26px;
					top: 5px;
					background-position: -181px 0;
				}
				&:hover:before {
					background-position: -181px -48px;
				}
			}
		}
		&_6 {
			& a {
				&:before {
					width: 45px;
					height: 30px;
					top: 5px;
					background-position: -231px 0;
				}
				&:hover:before {
					background-position: -231px -48px;
				}
			}
		}
		&_7 {
			& a {
				&:before {
					width: 35px;
					height: 32px;
					top: 5px;
					background-position: -276px 0;
				}
				&:hover:before {
					background-position: -276px -48px;
				}
			}
		}
		&_8 {
			& a {
				&:before {
					width: 24px;
					height: 38px;
					background-position: -311px 0;
				}
				&:hover:before {
					background-position: -311px -48px;
				}
			}
		}
	}
}
.catalog-search {
	float: right;
	width: 0;
	overflow: hidden;
	padding: 17px 0;
	&.active {
		width: 100%;
		.transition(width, .5s, ease);
	}
	&-close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 10px;
		height: 11px;
		display: block;
		cursor: pointer;
		z-index: 100;
		display: none;
	}
}
.navbar-form {
	padding: 0;
	margin: 0;
	width: 100%;
}
.input-group-btn {
	width: 1% !important;
}

.search-input {
	overflow: hidden;
}
.search-submit {
	float: right;
}
.achievements {
	background: #f5f6f6;
	@media @mobile {
		display: none;
	}
	&__holder {
		padding: 25px 0;
		text-align: justify;
		line-height: 0px;
		&:after {
			display: inline-block;
			vertical-align: top;
			content: '';
			height: 0;
			width: 100%;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		&:last-child {
			@media @tablet {
				display: none;
			}
		}
	}
	&__num {
		display: inline-block;
		vertical-align: top;
		font: 300 50px/50px 'Roboto', sans-serif;
		color: @red;
		margin-right: 10px;
	}
	&__descr {
		display: inline-block;
		vertical-align: top;
		line-height: 20px;
		padding-top: 3px;
		& span {
			color: @red;
		}
	}
}
.main-banner {
	height: 600px;
	overflow: hidden;
	position: relative;
	&__slide {
		width: 100%;
	}
	&__back {
		&:after {
			content: '';
			height: 600px;
			width: 100%;
			background: #fff;
			opacity: .5;
			display: block;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
		}
		& img {
			width: 1920px;
			position: absolute;
			left: 50%;
			margin-left: -960px;
		}
	}
	&__holder {
		padding-top: 80px;
		position: relative;
		z-index: 2;
	}
	&__img {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 550px;
		text-align: center;
		padding-top: 20px;
		& img {
			display: inline-block;
			vertical-align: top;
		}
		@media @tablet {
			display: none;
		}
	}
	&__content {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 50px;
		@media @tablet {
			width: 100%;
		}
	}
	&__title {
		font: 500 50px/60px 'Roboto', sans-serif;
		margin-bottom: 30px;
		@media @mobile {
			font-size: 45px;
		}
	}
	&__text {
		margin-bottom: 40px;
	}
}
.footer {  
	height: 330px;
  margin: 0;
  padding: 0;
	background: @grey;
	min-width: 480px;
}